<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'extra_fields_for_students', f: f %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

<p><h1> Course Fields </h1>
  <%= f.fields_for :courses do |course_form| %>
    <div class="field">
      <%= course_form.label :title %><br>
      <%= course_form.text_field :title %>
    </div>
  <% end %></p>

    <%= f.collection_select(:course_ids, Course.all, :id, :title, {selected: @student.course_ids, include_blank: false},{ multiple: true }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
