<% content_for :something_cool do %>
  <p> I can put something to render on another view in a certain spot.</p>
<% end %>

<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Profession</th>
      <th>Favorite ice cream flavor</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= student.age %></td>
        <td><%= raw short_bio student %></td>
        <td><%= student.profession %></td>
        <td><%= student.favorite_ice_cream_flavor %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# This is a comment! %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>

